#index {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 16px;
  >header{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #DDD;
    padding: 8px 0;
    position: relative;
    text-align: center;
    img{
      margin-right: 4px;
      height: 35px;
      background: white;
    }
    h1{
      font-size: 16px;
      margin-top: 6px;
      font-weight: 450;
    }
    .userInfo{
      position: absolute;
      right: 16px;
    }
  }
  >main{
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}