#statTodoItem{
  padding: 8px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  &:hover{
    background: #f4f4f4;
    >.action{
      display: block;
    }
  }
  .action{
    display: none;
    span{
      color: deepskyblue;
      cursor: pointer;
      &:first-child{
        margin-right: 4px;
      }
    }
  }
  .text{
    .time{
      margin-right: 8px;
      color: #999;
    }
    .description{
      color: #222;
    }
  }
}